*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;



}
html{
    scroll-behavior: smooth;
}
.multi-border{
    padding: 0;
    min-height: 100vh;
    border: 6px solid;
    border-image: linear-gradient(45deg, #ff3cac, #784ba0, #2b86c5, #00eaff, #00ff6c) 1;
}
nav{
    transition: 0.3s ease;
    position: fixed;
    width: 99%; 
    /* top: 0;
    left: 0;
    z-index: 1000; */ */
}

.nav-containor{
    width: 100%;
    height: 60px;
     background-image: url("https://ethemestudio.com/demo/thames/1_home_main/images/slider/slider-bg.jpg");
    display: flex;
    justify-content: space-around;
    /* border-radius: 10px; */
}

  
.nav-logo{
   padding-top: 15px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 2px;
}
.nav-logo h2{
     font-weight: 300;
    letter-spacing: 2px;
}
.nav-links{
    color: #fff;
    text-decoration: none;
    line-height: 60px;
    font-size: 18px;
    font-weight: bold;
}
.nav-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links ul li{
    letter-spacing: 2px;
    word-spacing: 3px;
    font-weight: 400;
}
.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;

}
 .nav-links ul li a:hover{
    color: #3cb043;
    /* background: linear-gradient(90deg,#2193b0,#6f00ff,#ff0099); */
    padding: 5px 10px;
    border-radius: 5px;

} 

.humburger{
    display: none;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;

}
/* responsive navbar */
 @media(max-width:768px){
    .nav-containor{
        flex-direction: row;
        align-items: center;
        position: relative;
    }
    .humburger{
        display: block;
    }
    .nav-links{
        display: none;
        width: 100%;
    }
    .nav-links ul{
        flex-direction: column;
        text-align: center;
        background-color: #333;
        position: absolute;
        /* padding: 5px 0; */
        gap: 10px;
        width: 50%;
        top: 60px;
        border-radius: 10px;
    }
    .nav-links ul li {
        margin: 10px 0;
        cursor: pointer;
    }
    .nav-links.active{
        display: block;
    }

}
.hero {
    background-image: url("https://ethemestudio.com/demo/thames/1_home_main/images/slider/slider-bg.jpg");
    height: 600px;
    width: 100%;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
   
}

.hero-contenor {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.hero-text {
    width: 100%;
    padding-left: 40px;
    margin-top: 20px;
}
.hero-text h1 span {
     font-size: 20px;
    color: green;
    letter-spacing: 1px;
    word-spacing: 4px;
    line-height: 5px;
}
.hero-text h1 {
     font-size: 80px;
    color: white;
    font-family: 'poppins' , sans-serif;
}
.hero-text h2 {
     font-size: 25spx;
    color: white;
    letter-spacing: 2px;
    word-spacing: 3px;
    margin-top: 20px;
}
.hero-text h2 span{
     color: green;

}
.hero-btn button{
     padding: 10px 20px;
    color: white;
    background-color: green;
    border: 2px solid green;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    width: 150px;
    height: 50px;
    text-align: center;
    margin-top: 30px;
    font-family: 'poppins', sans-serif;
    font-size: 15px;
}
.hero-btn button:hover {
     transform: scale(1.1);
 }

.hero-image img{
    padding-right: 60px;
    margin-right: 60px;
    width: 500px;
    height: auto;
    border-radius: 50%;
    margin-top: 40px;
     transition: all 0.3s ease;
    }
    .hero-image img:hover{
        transform: scale(1.1);
    }

    /* hero section responsive  */

    @media (max-width: 768px){
        .hero-contenor{
            flex-direction: column;
            align-items: center;
        }
        .hero-text{
            text-align: center;
            padding: 0;
            margin-top: 40px;
        }
        .hero-image img{
            width: 300px;
            margin-top: 20px;
            padding: 0;
            margin-right: 0;
        }
        
    .hero {
        height: auto;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        padding-bottom: 40px;
        text-align: center;
    }
    }


.About-us{
          background-image: url("https://ethemestudio.com/demo/thames/1_home_main/images/slider/body-bg.jpg");
       padding: 20px;
       margin-top: 20px;
       border-radius: 50px;

       

}

.about-containor {
    display: flex;
    justify-content: space-around;
}
.about-picture img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    
}
.about-picture{
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
     width: 50%;

}
.about-text{
    width: 50%;
    padding: 20px;
    margin-top: 20px;
    margin-right: 40px;
    border-radius: 10px;    
}
.about-text h3{
     font-size: 14px;
      color: #4CAF50;
      margin-bottom: 5px;
      letter-spacing: 2px;
}
.about-text h2{
      font-size: 32px;
      margin-bottom: 15px;
      margin-top: 30px;
      color: #333;
}
.about-text p {
    font-size: 16px;
     line-height: 1.8;
      margin-bottom: 20px;
      letter-spacing: 1px;
      color: #555;
      width: 90%;
}
.about-btn button{
     padding: 10px 20px;
    color: white;
    background-color: green;
    border: 2px solid green;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    width: 150px;
    height: 50px;
    text-align: center;
    margin-top: 30px;
    font-family: 'poppins', sans-serif;
    font-size: 15px;
}
.about-btn button:hover {
     transform: scale(1.1);

 }

 /* about serction responsive  */
 @media (max-width: 768px){
    .about-containor{
        flex-direction: column;
        align-items: center;
    }
    .about-picture img{
        width: 250px;
        margin-top: 20px;
    }
    .about-text{
        width: 90%;
        margin-right: 0;
        padding: 0;
    }
    .about-text p{
        width: 100%;
    }
    .About-us{
        height: auto;
        border-radius: 30px;
        padding-bottom: 40px;
        text-align: center;
    }
    }


 /* skill section style */
 .skill{
    background-image: url( "https://ethemestudio.com/demo/thames/1_home_main/images/slider/body-bg.jpg" );
    padding: 20px;
    margin-top: 20px;
    border-radius: 50px;
    width: 100%;
    height: 500px;
}
.skill-text {
    text-align: center;
    margin-bottom: 30px;
}
.skill-text h3{
    font-size: 18px;
    color: #4CAF50;
    margin-bottom: 5px;
    letter-spacing: 2px;
    padding-top: 30px;
}
.skill-text h2{
    font-size: 32px;
    margin-bottom: 15px;
    margin-top: 30px;
    color: #333;
    padding-top: 20px;
}
.skill-bar {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    padding-top: 40px;
    
}
.bar{
    width: 30%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #333;
    text-align: center;
    height: auto;
    color: #fff;
   


}
.bar i{
    font-size: 50px;
    color: #4CAF50;
    margin-bottom: 15px;
}
.bar h3{
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
}
.bar p {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: #fff;
}
.bar:hover{
    /* background: linear-gradient(90deg,#2193b0,#6f00ff,#ff0099); */
    transform: scale(1.1);

}
/* skill section responsive  */
@media(max-width: 768px){
    .skill-bar{
        flex-direction: column;
        align-items: center;
    }
    .bar{
        width: 80%;
        margin: 20px 0;
    }
    .skill{
        height: auto;
        border-radius: 30px;
        padding-bottom: 40px;
        text-align: center;

    }
}


/* Services Section */
.services {
    background-color:#333 ;
    padding: 40px 20px;
    margin-top: 20px;
    border-radius: 50px;
    width: 100%;
    height: 600px;
}

.services-text {
    text-align: center;
    margin-bottom: 40px;
}

.services-text h3 {
    font-size: 18px;
    color: #4CAF50;
    letter-spacing: 3px;
    word-spacing: 2px;
    padding-top: 40px;
}

.services-text h2 {
    font-size: 32px;
    color: #ffffff;
    margin-top: 10px;
    word-spacing: 12px;
    letter-spacing: 3px;
    padding-top: 20px;
}

.services-boxes {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding-top: 60px;
}

.service-box {
    width: 30%;
    height: 250;
    background-color: #fff;
    padding: 25px 15px;
    border-radius: 10px;
    text-align: center;
    color: #333;
    transition: 0.3s ease;
    cursor: pointer;
}

.service-box i {
    font-size: 50px;
    color: #4CAF50;
    margin-bottom: 15px;
}

.service-box h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.service-box p {
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

.service-box:hover {
    transform: scale(1.08);
}
.service-btn button{
    padding: 10px 20px;
    color: white;
    background-color: #47c74b;
    border: 2px solid #47c74b;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    width: 90px;
    height: 30px;
    text-align: center;
    margin-top: 30px;
    font-family: 'poppins', sans-serif;
    font-size: 12px; 
}
.service-btn button:hover{
    transform: scale(1.1);

}

/* service section responsive  */
@media (max-width: 768px){
    .service-boxes{
        flex-direction: column;
        align-items: center;
    }
    .service-box{
        width: 80%;
        margin: 20px 0;
    }
    .services{
        height: auto;
        border-radius: 30px;
        padding-bottom: 40px;
        text-align: center;
    }
}




/* Projects Section */
.projects {
    background-image: url("https://ethemestudio.com/demo/thames/1_home_main/images/slider/body-bg.jpg");
    padding: 40px 20px;
    margin-top: 20px;
    border-radius: 50px;
    height: 700px;
}

.projects-text {
    text-align: center;
    margin-bottom: 40px;
}

.projects-text h3 {
    font-size: 18px;
    color: #4CAF50;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

.projects-text h2 {
    font-size: 32px;
    color: #333;
    padding-top: 20px;
}

/* Boxes */
.project-boxes {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.project-box {
    width: 30%;
    background-color: #333;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.project-box img {
    width: 100%;
    height: 250px;
    background-color: #333;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.project-box:hover {
    transform: scale(1.08);
}

/* Buttons */
.project-buttons {
    margin-top: 15px;
}

.project-buttons a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease;
}

/* Live Demo Button */
.live-btn {
    background-color: #4CAF50;
    color: white;
}
.live-btn:hover {
    transform: scale(1.1);
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .project-boxes{
        flex-direction: column;
        align-items: center;
    }
    .project-box{
        width: 80%;
        margin: 20px 0;
    }
    .projects{
        height: auto;
        border-radius: 30px;
        padding-bottom: 40px;
        text-align: center;
    }

}

/* Contact Section */
.contact {
    background-image: url("https://ethemestudio.com/demo/thames/1_home_main/images/slider/body-bg.jpg");
    padding: 50px 20px;
    margin-top: 20px;
    border-radius: 10px;
    height: 500px;
     border-radius: 50px;
}

.contact-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.contact-text {
    width: 45%;
    color: #333;
}

.contact-text h3 {
    font-size: 18px;
    color: #4CAF50;
    letter-spacing: 2px;
}

.contact-text h2 {
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.contact-text p {
    font-size: 16px;
    color: #555;
    line-height: 1.7;
    margin-bottom: 15px;
}

.contact-info p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #222;
}

.contact-info i {
    color: green;
    margin-right: 10px;
}


/* Contact Form */
.contact-form {
    width: 45%;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px 15px;
    border: 2px solid #4CAF50;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    background-color: white;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #2e7d32;
}

.contact-form button {
    padding: 12px 20px;
    background-color: green;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid green;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

.contact-form button:hover {
    transform: scale(1.08);
}

/* contact section responsive  */
@media(max-width: 768px){
    .contact-container{
        flex-direction: column;
        align-items: center;
    }
    .contact-text, .contact-form{
        width: 90%;
        margin: 20px 0;
    }
    .contact{
        height: auto;
        border-radius: 30px;
        padding-bottom: 40px;
        text-align: center;
    }
}


.footer {
       background-image: url("https://ethemestudio.com/demo/thames/1_home_main/images/slider/slider-bg.jpg");
    color: #eee;
    padding: 50px 0;
    margin-top: 20px;
     border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

.footer-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    margin: 15px;
    min-width: 250px;
}

.footer-logo {
    width: 140px;
    margin-bottom: 15px;
}

.footer-section h3 {
    margin-bottom: 15px;
    font-size: 22px;
    color: #fff;
    font-weight: 300;
}

.footer-section p a {
    color: #3cb043;
    font-weight: bold;
    text-decoration: none;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
    color: white;
    background: #3cb043;
    padding: 8px;
    border-radius: 50%;
    transition: 0.3s;
}

.social-icons a:hover {
    background: #2e7d32;
}

.footer-section input {
    padding: 10px;
    width: 65%;
    border: none;
    border-radius: 5px;
    outline: none;
}

.footer-section button {
    padding: 10px 15px;
    border: none;
    background: #3cb043;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.footer-section button:hover {
    background: #2e9b5f;
}

/* footer section responsive  */
@media(max-width: 768px){
    .footer-container{
        flex-direction: column;
        align-items: center;
    }
    .footer-section{
        margin: 20px 0;
    }

}

